.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; // Очень важно, чтобы увеличенная тарелка не создавала скролл
  background-image: url("/images/bg-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 47px;
  perspective: 1000px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 25px;
}

.title {
  font-weight: 900;
  font-size: 150px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.description {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  max-width: 705px;
  margin-bottom: 33px;
}

// Позиционируем руку и тарелку
.hand,
.frisbee {
  position: absolute;
  z-index: 5;
}

.hand {
  width: 340px;
  bottom: -150px;
  right: 15%;
  transform-origin: bottom center;
  z-index: 6;
}

.frisbee {
  width: 774px;
  bottom: 220px;
  right: 0;
  z-index: 5;
  transform-origin: 45% 70%; // Точка, вокруг которой будет масштабирование
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 47px);
}
