.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; // Очень важно, чтобы увеличенная тарелка не создавала скролл
  background-image: url("/images/bg-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 47px;
  perspective: 1000px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 25px;
}

.title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 140px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--text-light);
  line-height: 70%;
  margin-bottom: 70px;
  > span {
    font-family: var(--third-family);
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--text-light);
    text-transform: lowercase;
    margin-left: 100px;

  }
}

.description {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  max-width: 705px;
  margin-bottom: 33px;
}

// Позиционируем руку и тарелку
.hand,
.frisbee {
  position: absolute;
  z-index: 5;
}

.hand {
  width: 340px;
  bottom: -20px;
  right: 15%;
  transform-origin: bottom center;
  z-index: 6;
}

.frisbee {
  width: 774px;
  bottom: 320px;
  right: 50px;
  z-index: 5;
  transform-origin: 45% 70%; // Точка, вокруг которой будет масштабирование
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 47px);
}


.abs_img {
  position: absolute;
  bottom: 50px;
  right: 50px;
}